/*

!/data
!/fonts
!/images
!/plugins
!/routes
!/test
!/.gitignore
!/.dockerignore
!/app.js
!/docker-compose.yml
!/Dockerfile
!/package.json
!/README.md
!/render.yaml
!/yarn.lock

# Keep empty folders
!/downloads/
/downloads/*
!/downloads/.keep
